.background-dark-blue {
    background-color: #313543 !important;
}

.background-lighter-blue {
    background-color: #414552 !important;
}

.border-radius-15 {
    border-radius: 15px;
}

.margin-20 {
    margin-left: 40px;
    margin-right: 40px;
}

.margin-icon-temp {
    margin-top: 10px;
}

.margin-card-title {
    margin-bottom: 40px;
}

.div-hover {}

.div-hover:hover {
    background-color: #545863 !important;
}

.no-link-style {
    text-decoration: none;
}