.background-dark-blue {
    background-color: #313543 !important;
}

.main {
    position: absolute;
    top: 10%;
    left: 15%;
    height: 60%;
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.wallpaper-list-column {
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.wallpaper-list-column > select {
  background-color: #999999;
  border: solid 1px #ccc;
  border-radius: 15px;
  font-size: 15px;
}

.icons-column {
    width: 65px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.icon {
    background-color: rgba(255, 120, 198, 0.6);
    border-radius: 50%;
    padding: 0.2em;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon:hover .material-icons {
    color: white;
}

.content-column {
    /* background-color: green; */
    margin-left: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.day {
    /* background-color: blue; */
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#day {
    font-family: impact;
    font-size: 80px;
    color: antiquewhite;
    text-shadow: 2px 0 0 black;
}

.search {
    /* background-color: black; */
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#search-input {
    height: 100%;
    width: 100%;
    background-color: #999999;
    border: solid 1px #ccc;
    border-radius: 25px;
    font-size: 25px;
}

.date-p {
    font-family: "MS Gothic";
    color: #933e7a;
    font-size: 30px;
    text-shadow: 1px 0 0 black;
}

.weather-t {
    font-family: "MS Gothic";
    color: #01a4a5;
    font-size: 25px;
    text-shadow: 1px 0 0 black;
}

.citation-t {
    color: antiquewhite;
    font-size: 30px;
    text-shadow: 1px 0 0 black;
}
